@charset "UTF-8";

@media screen and (max-width:768px) {
    header i#menu {
        display: block;
        text-align: right;
        color: white;
        font-size: 2em;
        cursor: pointer;
        transition: .2s ease;
    }

    header i#menu:hover {
        font-size: 2.3em;
    }

    header nav ul {
        display: none;
    }   
}