@charset "UTF-8";

@media screen and (max-width:768px) {
/* CELULAR */

    header i#menu {
        display: block;
        text-align: right;
        color: white;
        font-size: 2em;
        cursor: pointer;
        transition: .2s ease;
    }

    header i#menu:hover {
        font-size: 2.3em;
    }

    header nav ul {
        display: none;
    }

    main div.promocoes {
        height: 65vh;
        background-size: cover;
        padding: 10px;
    }

    
    main aside.bolo-principal {
        flex-direction: column;
        align-items: center;
        width: 100vw;
        padding: 10px;
        margin: 0px;
        text-align: center;
    }
    
    main aside.bolo-principal img.bolo-principal-img {
        width: 50%;
        margin: 20px;
    }

    main section.produto {
        width: 400px;
        padding: 10px;
    }


    main section.produto:hover {
        width: 410px;
    }

    main section.produto p {
        font-size: 1.2em;
        width: 370px;
        margin: 10px;
    }

    main section.produto h2.titulo-produto {
        font-size: 1em;
        margin: 20px;
    }

}



@media screen and (min-width: 769px) {
    main {
        flex-direction: row;
    }

    main section.promocoes {
        height: 50vh;
        background-size: cover;
    }

    main aside.bolo-principal {
        flex-direction: column;
        align-items: center;
        width: 100vw;
        text-align: center;
        padding: 10px;
        margin: 0px;
    }
    
    main aside.bolo-principal img.bolo-principal-img {
        width: 50%;
        margin: 20px;
    }


    main section.produto {
        width: 750px;
    }

    main section.produto p {
        width: 720px;
        margin: 10px;
    }

    main section.produto:hover {
        width: 770px;
    }

    main section.produto h2.titulo-produto {
        font-size: 1em;
        margin: 20px;
    }

    div.centro {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main div.centro {
        height: 77vh;
        max-width: 1200px;
    }
}

@media screen and (min-width: 1200px) {
    main section.produto {
        width: 620px;
        margin: 10px 0px;
        text-align: justify;
        transition: 0.2s ease;
        font-family: 'Inter Tight';
        font-weight: 500;
        transition: .2s ease;
    }

    main section.promocoes {
        height: 70vh;
    }

    main aside.bolo-principal img.bolo-principal-img {
        width: 40%;
    }

    main section.produto:hover {
    width: 650px;
    }

    main section.produto p {
        width: 580px;
    }
}