@charset "UTF-8";
@media screen and (max-width:768px) {
    header i#menu {
        text-align: right;
        color: white;
        font-size: 2em;
        cursor: pointer;
        transition: .2s ease;
    }

    header i#menu:hover {
        font-size: 2.3em;
    }

    header nav ul {
        display: none;
    }
    
    main article.info-opcoes {
        width: 370px;
        height: 72vh;
    }

    article.info-opcoes input.botao {
        margin: 5px auto 0px;
    }

    article form.form {
        width: 280px;
    }

    article.info-opcoes label {
        display: inline-block;
    }

    footer {
        margin-top: 200px;
    }
}

@media screen and (min-width:769px) {
    header i#menu {
        display: none;
    }
}