@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500&family=Poppins:wght@400;500&family=Unna:wght@400;700&display=swap');

* {
    font-family: 'Poppins';
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

:root {
    --cor1: #D6AE10; /* Cor secundária */
    --cor2: #EDA705; 
    --cor3: #e2921b; /* Cor principal */
    --cor4: #ee6a2c;
    --cor5: #f58421;
}

header {
    display: flex;
    height: 10vh;
    padding: 5px;
    background-color: var(--cor3);
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: -1px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.397);
}

header div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: white;
}

header div p {
    font-family: 'Unna', serif;
    font-size: 2em;
    margin: 5px;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.199);
    cursor: pointer;
}

header div img {
    width: 90px;
    transition: .2s ease;
}

header div img:hover {
    width: 100px;
    cursor: pointer;
}

header i#menu {
    display: none;
}

header nav ul li {
    display: inline-block;
    list-style-type: none;
    margin: 2px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    transition: 0.2s;
    margin: 10px;
}

header nav ul li a:hover {
    background-color: white;
    color: black;
    padding: 6px;
    border-radius: 30px;
    font-weight: 500;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.226);
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

main div.promocoes {
    background-image: url('../imagens/KARNAK.png');
    height: 55vh;
    width: 100%;
    background-position: center center;
    background-size: cover;   
}

main aside.bolo-principal {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    color: white;
    line-height: 2.4em;
    text-indent: 15px;
}

main aside.bolo-principal h1.bolo-principal-titulo {
    background-color: white;
    color: black;
    border-radius: 20px 0px;
    text-indent: 2em;
}

main aside.bolo-principal img.bolo-principal-img {
    width: 20%;
    border-radius: 50%;
    box-shadow: 0px 0px 25px var(--cor2);
}

main aside.bolo-principal div {
    width: 69%;
}

main aside.bolo-principal div section {
    width: 100%;
    background-color: white;
    border-radius: 50px;
    transition: .2s ease;
}

main aside.bolo-principal div section:hover {
    cursor: pointer;
    font-size: 1.3em;
}

main aside.bolo-principal div section a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

main section.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main section.produto {
    width: 610px;
    margin: 20px 0px;
    text-align: justify;
    transition: 0.2s ease;
    font-family: 'Inter Tight';
    font-weight: 500;
    transition: .2s ease;
}

main section.produto:hover {
    width: 625px;
}

main section.produto img {
    float: left;
    width: 45%;
    margin: 10px;
    border-radius: 50%;
}

main section.produto div.cor {
    background-color: var(--cor5);
    border-radius: 80px 0px 70px 0px;
    padding: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.164);
}

main section.produto div.diferente {
    background-color: var(--cor4);
    border-radius: 0px 80px 0px 70px;
    padding: 10px;
}

main section.produto h2.titulo-produto {
    color: white;
    font-size: 1.2em;
}

main section a.info-bolo-texto {
    text-decoration: none;
    color: black;
}

main section a.info-bolo-texto i{
    color: var(--cor1);
    font-size: 2.2em;
    float: left;
    margin-top: 10px;
}

main section a.info-bolo-texto i#nao-icones{
    color: rgba(0, 0, 0, 0.342);
}


main div.centro {
    width: 60vw;
    margin: 20px auto;
    text-align: center;
}

footer {
    display: flex;
    background-color: var(--cor3);
    padding: 10px;
    justify-content: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.24);
    align-items: center;
    height: 50px;
}

footer a {
    box-sizing: border-box;
    height: 34px;
}

footer img {
    width: 30px;
    margin: 2px;
    transition: 0.2s ease;
}

footer a img:hover {
    width: 40px;
}